*.sqlite3
*.db
*.pyc
*.sh
*_test
*_BAK
build
.gradle/
dist/
*egg-info*
snowflake/
.cache/
instance/
activate
*.gz
pkgs/
.pytest_cache/
*_BAK
secrets.*
production.py
__pycache__/
.idea/
*.whl
*.tar
.DS_Store
